* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century gothic', sans-serif;
    color: #dadada;
}

@font-face {
    font-family: 'century gothic';
    src: url('assets/font/centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #3944be;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    color: #bebebe;
    height: 8vh;

    align-items: center;
    display: flex;
    
    font-size: 3vh;
}

.ir-title {
    color: #a0a0a0;
    text-decoration: none;
    width: auto;

    text-wrap-mode: nowrap;

    margin-left: 2vh;
}

.header-link {
    color: #a0a0a0;
    text-decoration: none;

    align-items: center;

    transition: 0.6s;
}

.header-link:hover {
    background: linear-gradient(
        120deg,
        #6e00ff,
        #00d0ff,
        #ff008c,
        #ff8c00,
        #6e00ff
    );

    font-size: 3.3vh;
  
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: spaceflow 8s ease infinite;
}

.header-link-container {
    display: flex;
    justify-items: center;

    justify-content: space-evenly;

    width: 100%;
}

.ir-icon {
    height: 7vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

body {
    background: #0e0e0e;

    height: 100vh;
}

.review {
    width: 100%;
    display: block;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.review-text {
    display: block;
    text-align: center;
}

.hm-icon {
    height: 40vh;
    width: auto;
}

.hm-title {
    font-size: 8vh;
    text-decoration: none;
    color: #dadada;
    background: linear-gradient(
        120deg,
        #6e00ff,
        #00d0ff,
        #ff008c,
        #ff8c00,
        #6e00ff
    );
  
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: spaceflow 8s ease infinite;
    transition: 0.3s;
}

.hm-title:hover {
    animation: spaceflow 5s ease-in-out infinite;
    background-size: 500% 500%;
    color: transparent;
}

@keyframes spaceflow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.phrase {
    font-size: 3vh;
    margin-top: 4vh;
}

.cap-comingsoon {
    font-size: 5vh;
}

.overview {
    margin-left: 5vw;
    margin-right: 5vw;

    margin-top: 15vh;
}

.project-mission-cap {
    font-size: 3vh;
}

.project-mission-text {
    font-size: 2vh;
}

.tasks {
    margin-top: 5vh;
    width: auto;
}

.project-tasks-cap {
    font-size: 3vh;
}

.task {
    margin-left: 2vw;
}

.task-cap {
    margin-top: 2vh;
    font-size: 3vh;
}

.sub-task {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
}

.sub-task-cap {
    font-weight: bold;
    font-size: 2vh;
}

.sub-task-cap::after {
    position: absolute;
    content: ':';
}

.sub-task-description {
    font-weight: normal;
    font-size: 2vh;
    margin-left: 1vh;
}

.footer {
    padding-top: 3vh;
    margin-top: 10vh;
    width: 100%;
    background: #0b0b0b;
    height: 16vh;

    font-size: 2vh;

    display: flex;
    justify-content: space-between;
}

.contact {
    height: 100%;

    margin-left: 3vw;
}

.copyrights {
    height: 100%;
    text-align: right;
    margin-right: 3vw;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 60vh;
    
}

.google-form {
    margin-top: 10vh;

    width: 50vw;
    height: 60vh;
}

.donate {
    border-top: 0.2vh solid #dadada;
    
    margin-left: 5vw;
    margin-right: 5vw;

    width: auto;
    padding-left: 3vw;
    padding-right: 3vw;

    margin-top: 10vh;

    padding-top: 4vh;
    padding-bottom: 2vh;

    color:#dadada;
    text-align: center;

    display: flexbox;
    align-items: center;
    justify-content: space-between;
    
}

.donate-cap {
    font-size: 3vh;

    font-weight:lighter;

    margin-bottom: 5vh;
}

.donate-usdt {
    font-size: 2vh;
    color: #dadada;
}

.donate-btc {
    font-size: 2vh;
    color: #dadada;
}

.donate-usdt::before {
    color: #dadada;
    font-weight: bold;
    position: relative;
    content: 'USDT wallet: ';
}

.donate-btc::before {
    color: #dadada;
    font-weight: bold;
    position: relative;
    content: 'BTC wallet: ';
}

.donate-description {
    font-size: 2vh;
}