@font-face {
    font-family: "Raleway";
    src: url('../assets/font/Raleway/static/Raleway-Light.ttf');
} 

* {
    font-size: 1.7;
    font-family: "Raleway";
}

.header {
    background: #020202;
    color: #d6d6d6;

    width: 100%;
    
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header a {
    text-decoration: none;
}

.header a:link {
    color: #d6d6d6;
}

.header a:visited {
    color: #d6d6d6;
}

.header a:active {
    color: #d6d6d6;
}

.ir-header-icon {
    width: 6vh;

    justify-content: center;
    margin-top: 1vh;
}

.nav-links {
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100%;
}

.nav-links-l {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-links-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-link {
    transition: 0.3s;

    font-size: 1.7vh;
}

.nav-link:hover {
    font-size: 2vh;
}

/* entry */

.entry {
    width: 100%;
    padding-left: 2.7w;
    padding-top: 9.5vh;

    background: #020202;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* entry-main */

.entry-main {
    margin-left: 2.8vw;
    padding-left: 2vw;
    
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-main-hm-logo {
    padding: 0;
    margin: 0;
}

.entry-main-hm-icon {
    height: 22vh;
    width: 22vh;
}

.entry-main-text {
    margin-left: 1.22vw;
}

.entry-main-project-name {
    font-size: 4.67vh ;
    font-weight: bold;

    margin-bottom: 0vw;
    margin-top: 0vh;
    margin-left: -0.1vw;
}

.entry-main-project-description {
    margin-top: 0vh;
    font-size: 1.7vh;
}

/* entry-nav */

.entry-nav {
    width: 37%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;

    margin-top: 14vh;
    margin-left: 5vw;
}

.entry-nav-link {
    color: #d6d6d6;
    text-decoration: none;
    text-align: center;

    white-space: nowrap;
    display: inline-block;

    position:relative;
    transition: 0.55s; ;

    font-size: 1.6vh;
}

.entry-nav-link:link {
    color: #d6d6d6;
}

.entry-nav-link:visited {
    color: #d6d6d6;
}

.entry-nav-link:active {
    color: #d6d6d6;
}

.entry-nav-link:hover {
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    
    font-size: 2.00vh;
}

/* entry-nav end */

/* entry-main end */

/* entry end */

.main {
    width: 100%;
}

/* gallery */

body {
    background: #050505;
    color: #d6d6d6;

    width: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 6);

    padding: 0%;
    margin: 0%;
}

.whats-new {
    width:auto;

    padding-left: 16vw;
    padding-right: 16vw;

    padding-top: 4vh;
    padding-bottom: 8vh;
}

.whats-new-cap {
    font-size: 2.6vh;
    font-weight: bold;
    color: #d6d6d6;

    margin-left: 3vw;
}

.whats-new-gallery {
    width: 100%;
    height: 50vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1vh;
}

.whats-new-gallery-image-container {
    align-items: center;
    justify-content: center;

    overflow: hidden;
    display: flex;

    position: relative;
}

.whats-new-gallery-image-container p {
    font-size: 1.7vh;
    color: #d6d6d6;

    position: absolute;

    margin: 0;
    padding: 0;

    padding-left: 1.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-left: 0.5vw;

    bottom: 0vw;
    left: 0vw;

    width: 100%;

    background: rgba(18, 18, 18, 0.493);

    transition: 0.8s;
}

.whats-new-gallery .whats-new-gallery-image-container:first-child {
    grid-row: 1 / span 4;
    grid-column: 1 / span 2;
    height: 48vh;
}

.whats-new-gallery .whats-new-gallery-image-container:first-child p {
    font-size: 3.2vh;
}

.whats-new-gallery-image {
    width: 100%;
    height: 100%;
    
    position: absolute;

    object-fit: cover;
    transition: 0.8s;
}

.sector {
    width: 100%;
    height: 100vh;
    display: grid;
}

.sec-1 {
    background: #070707;
}
.sec-2 {
    background: #090909;
}
.sec-3 {
    background: #0b0b0b;
}
.sec-4 {
    background: #0d0d0d;
}
.sec-5 {
    background: #0f0f0f;
}
.sec-6 {
    background: #111111;
}
.sec-7 {
    background: #131313;
}

.footer {
    width: 100%;
    height: 30vh;

    background: #030303;
}